@import "twitter/bootstrap";

$grayLighter: #c8c8c8;
/* universal */

html {
  overflow-y: scroll;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
.content {
   margin-bottom: 10px;
   padding-left: 10px;
   padding-right: 20px;
}

.center {
  text-align: center;
} 
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Hide text
.no-overflow {
  overflow:hidden
}

.lines-5{height: 5em}
.lines-10{height: 10em}
.lines-15{height: 15em}

form > fieldset {
  border: none;
  border: solid 1px #CCC;
  padding: 10px 15px;
  margin: 15px 0;
  fieldset {
    border: none;
    margin: 0;
    margin: 10px 0;
    padding: 0;
  }
}

.nested-atributes {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
}
