// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
	.list_topic {
		display: inline;
	}
    	
}

.link_tab {
	font-size: 18px;
	color: black;
  	letter-spacing: -1px;
  	margin-bottom: 5px;
  	margin-right: 20px;
  	text-align: left;

}

