%header
  %nav{:class => "navbar navbar-inverse navbar-static-top", :role => "navigation"}
    %div{:class => "navbar-header"}
      %button{:type => "button", :class => "navbar-toggle", "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse"} 
        %span{:class => "sr-only"} Toggle navigation
        %span{:class => "icon-bar"} 
        %span{:class => "icon-bar"} 
        %span{:class => "icon-bar"} 
      =link_to I18n.t(:superhimik), root_path, :class => "navbar-brand"
    %div{:class => "collapse navbar-collapse navbar-ex1-collapse"}
      %ul{:class => "nav navbar-nav"}
        %li 
          =link_to "Home", root_path 
        %li 
          %a{:href => "#"} About
        %li  
          %a{:href => "#"} Contact 
      %ul{:class => "nav navbar-nav navbar-right"}
        -if signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              =I18n.t(:account)
              %b.caret 
            %ul.dropdown-menu
              %li
                =link_to I18n.t(:profile), current_user
              %li
                =link_to I18n.t(:settings), current_user
              %li.divider 
              %li
                =link_to I18n.t(:sign_out), signout_path, method: "delete"
        -else  
          %li
            = link_to I18n.t(:sign_in), signin_path 
        